<ion-app>
  <ion-content id="mainContent">
    <ion-button id="button1"  color="primary" (click)="login()">
      Login
    </ion-button>
    <ion-button id="button1"  color="primary" (click)="goalFirst()">
      Goal 1
    </ion-button>
    <ion-button id="button1"  color="primary" (click)="goalThird()">
      Goal 2
    </ion-button>
    <ion-button id="button1"  color="primary" (click)="goalThird()">
      Goal 3
    </ion-button>
    <ion-button id="button1"  color="primary">
      Goal 4
    </ion-button>
    
    <div #map id="map" style="height: 100%;width: 100%;" ></div>
  </ion-content>
</ion-app>
